body {
    background-color: #f5f5f9;
}
.home-banner {
    width: 100%;
}

.container-content {
    .user-eara {
        padding: 0 px2rem(15);
        line-height: px2rem(40);
        font-size: px2rem(10);
        color: #888;
        overflow: hidden;
        font-size: px2rem(14);
        span {
            float: left;
            display: block;
        }
        .modify-user-area {
            color: $mainColor;
            display: block;
            float: right;
        }
    }
    .item-list {
        li{
          height: px2rem(60);
          line-height: px2rem(60);
          margin-bottom: px2rem(4);
        }
        a {
            display: block;
            color: #333;
            padding: 0 px2rem(15);
            box-sizing: border-box;
            height: px2rem(60);
            background-color: #fff;
            font-size: px2rem(16);
            em {
                font-size: px2rem(10);
            }
            span{
              margin-left: px2rem(40);
            }
            i{
              font-size: px2rem(32);
              position: absolute;
            }
            .icon-cjfx{
              color: $mainColor;
            }
            .icon-lqlyc{
              color: #32aa91;
            }
            .icon-yxlqcx{
              color: #e86367;
            }
        }
    }

}
